<header class="header">
    <div class="logo">
        <a routerLink="./home">
            <h4>LOGO</h4>
        </a>
    </div>
    <nav class="menu">
        <a routerLink="./songs-page">Songs</a>
        <a routerLink="./top100-page">Top 100</a>
        <a routerLink="./charts-page">Charts</a>
        <a routerLink="./artist">Artist</a>
    </nav>
    <div class="search">
        <div class="search-container">
            <input type="text" placeholder="Enter search terms">
            <i class="bi bi-search"></i>
        </div>
    </div>
    <div class="auth">
        <a routerLink="./login"> <button class="button-login" type="button">Log
                in</button></a>
        <a routerLink="./register"><button class="button-register" type="button">Register</button></a>
        <!-- <details class="dropdown">
            <summary role="button">
                <a class="button"> <i class="bi bi-person-circle"></i>
                </a>
            </summary>
            <ul>
                <li><a href="#">I'm a dropdown.</a></li>
                <li><a href="#">In Pure CSS</a></li>
                <li><a href="#">As in...</a></li>
                <li><a href="#">No JavaScript.</a></li>
                <li><a href="#">At All.</a></li>
            </ul>
        </details> -->

    </div>
</header>
