<header class="header">
    <div class="logo">
        <a routerLink="./home">
            <h4>LOGO</h4>
        </a>
    </div>
    <nav class="menu">
        <!-- <a href="#" id="style-2" data-replace="this link"><span>this
                link</span></a> -->
        <a id="style-2" data-replace="Songs" routerLink="./songs-page"><span>Songs</span></a>
        <a id="style-2" data-replace="Top 100" routerLink="./top100-page"><span>Top
                100</span>
        </a>
        <a id="style-2" data-replace="Charts" routerLink="./charts-page"><span>Charts</span></a>
        <a id="style-2" data-replace="Artist" routerLink="./artist"><span>Artist</span></a>
    </nav>
    <div class="search">
        <div class="search-container">
            <input type="text" placeholder="Enter search terms">
            <i class="bi bi-search"></i>
        </div>
    </div>

    <ng-container *ngIf="authService.userData; else notLoggedIn">
        <details class="dropdown">
            <summary role="button">
                <a class="button"> <i style="font-size: 30px;"
                        class="bi bi-person-circle"></i></a>
            </summary>
            <ul>
                <li><a routerLink="./home">Profile</a></li>
                <li><a routerLink="./home">Liked Songs</a></li>
                <li><a routerLink="./home">Language</a></li>
                <li><a routerLink="./home">Dark Mode</a></li>
                <li><a routerLink="./home" (click)="authService.SignOutClient()"
                        cDropdownItem>Logout</a></li>
            </ul>
        </details>
    </ng-container>

    <ng-template #notLoggedIn>
        <div class="auth">
            <a routerLink="./login"><button class="button-login" type="button">Log
                    in</button></a>
            <a routerLink="./register"><button class="button-register"
                    type="button">Register</button></a>
        </div>
    </ng-template>

</header>
