<header class="header">
    <div class="logo">
        <a routerLink="./home">
            <h4>LOGO</h4>
        </a>
    </div>
    <nav class="menu">
        <!-- <a href="#" id="style-2" data-replace="this link"><span>this
                link</span></a> -->
        <a id="style-2" data-replace="Songs" routerLink="./songs-page"><span>Songs</span></a>
        <a id="style-2" data-replace="Top 100" routerLink="./top100-page"><span>Top
                100</span>
        </a>
        <a id="style-2" data-replace="Charts" routerLink="./charts-page"><span>Charts</span></a>
        <a id="style-2" data-replace="Artist" routerLink="./artist"><span>Artist</span></a>
    </nav>
    <div class="search">
        <div class="search-container">
            <input type="text" placeholder="Enter search terms">
            <i class="bi bi-search"></i>
        </div>
    </div>
    <div class="auth">
        <a routerLink="./login"> <button class="button-login" type="button">Log
                in</button></a>
        <a routerLink="./register"><button class="button-register" type="button">Register</button></a>
        <!-- <details class="dropdown">
            <summary role="button">
                <a class="button"> <i class="bi bi-person-circle"></i>
                </a>
            </summary>
            <ul>
                <li><a href="#">I'm a dropdown.</a></li>
                <li><a href="#">In Pure CSS</a></li>
                <li><a href="#">As in...</a></li>
                <li><a href="#">No JavaScript.</a></li>
                <li><a href="#">At All.</a></li>
            </ul>
        </details> -->

    </div>
</header>
