<div class="footer-container">
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <div class="feature">
        <div class="list-item">
            <span>Mobile app</span>
            <ul class="list">
                <li>Features</li>
                <li>Live share</li>
                <li>Video record</li>
            </ul>
        </div>
        <div class="list-item">
            <span>Community</span>
            <ul class="list">
                <li>Features artists</li>
                <li>The Portal</li>
                <li>Live events</li>
            </ul>
        </div>
        <div class="list-item">
            <span>Company</span>
            <ul class="list">
                <li>About us</li>
                <li>Contact us</li>
                <li>History</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="contact-footer">
    <div class="left">
        <span>© Photo, Inc.2019. We love our users</span>
    </div>
    <div class="right">
        <div class="contact">
            <span class="follow-us">Follow us:</span>
            <div class="icon">
                <i class="bi bi-x-circle"></i>
                <i class="bi bi-x-circle"></i>
                <i class="bi bi-x-circle"></i>
                <i class="bi bi-x-circle"></i>
            </div>
        </div>
    </div>
</div>