<!-- music-player.component.html -->
<div class="music-player-container">
    <video class="background-video" autoplay loop muted>
        <!-- Thay thế 'your-video.mp4' bằng đường dẫn đến video của bạn -->
        <source
            src="../../../../../assets/xiz6uz1x1ogvrnxhof5y.mp4"
            type="video/mp4">
    </video>
    <div class="center-content">
        <h1>The largest community of photo ethusiasts</h1>
        <button class="play-button">
            Button
        </button>
    </div>
</div>
