<div class="feature-artist">
    <h3>Feature Artist</h3>
    <div class="feature-artist-grid">

        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(0, 1)">
            <p
                style="margin-left: 25px; text-transform: uppercase; font-weight: bold;">{{
                artist.name }}</p>
            <a [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img [src]="artist.photoUrl">
                </div>
            </a>
            <div class="feature-artist-list">
                <ul>
                    <a *ngFor="let album of albums.slice(4,10)"
                        style="text-decoration: none; color: black;"
                        [routerLink]="['../album-detail-page', album.id]">
                        <li>

                            {{ album.title }}
                        </li>
                    </a>

                </ul>
            </div>
        </div>

        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(1, 2)">
            <p
                style="margin-left: 25px; text-transform: uppercase; font-weight: bold;">{{
                artist.name }}</p>
            <a [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img [src]="artist.photoUrl">
                </div>
            </a>
            <div class="feature-artist-list">
                <ul>
                    <a *ngFor="let album of albums.slice(8, 14)"
                        style="text-decoration: none; color: black;"
                        [routerLink]="['../album-detail-page', album.id]">
                        <li>
                            {{ album.title }}
                        </li>
                    </a>

                </ul>
            </div>
        </div>
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(3, 4)">
            <p
                style="margin-left: 25px; text-transform: uppercase; font-weight: bold;">{{
                artist.name }}</p>
            <a [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img [src]="artist.photoUrl">
                </div>
            </a>
            <div class="feature-artist-list">
                <ul>
                    <a *ngFor="let album of albums.slice(6,12)"
                        style="text-decoration: none; color: black;"
                        [routerLink]="['../album-detail-page', album.id]">
                        <li>

                            {{ album.title }}
                        </li>
                    </a>

                </ul>
            </div>
        </div>
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(5, 6)">
            <p
                style="margin-left: 25px; text-transform: uppercase; font-weight: bold;">{{
                artist.name }}</p>
            <a [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img [src]="artist.photoUrl">
                </div>
            </a>
            <div class="feature-artist-list">
                <ul>
                    <a *ngFor="let album of albums.slice(3, 9)"
                        style="text-decoration: none; color: black;"
                        [routerLink]="['../album-detail-page', album.id]">
                        <li>
                            {{ album.title }}
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(7, 8)">
            <p
                style="margin-left: 25px; text-transform: uppercase; font-weight: bold;">{{
                artist.name }}</p>
            <a [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img [src]="artist.photoUrl">
                </div>
            </a>
            <div class="feature-artist-list">
                <ul>
                    <a *ngFor="let album of albums.slice(8, 14)"
                        style="text-decoration: none; color: black;"
                        [routerLink]="['../album-detail-page', album.id]">
                        <li>
                            {{ album.title }}
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </div>
</div>