<div class="feature-artist">
    <h3>Feature Artist</h3>
    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(0, 5)">
            <p
                style="margin-left: 25px; text-transform: uppercase; font-weight: bold;">{{
                artist.name }}</p>
            <a [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img [src]="artist.photoUrl">
                </div>
            </a>
            <div class="feature-artist-list">
                <ul>
                    <li *ngFor="let album of artist.albums">{{ album }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>