/* src/app/login/login.component.scss */

.login-container {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      h3{
        text-align: center;
        margin-bottom: 20px;
      }
     .remember-forgot{
        
        label{
            display: flex;
           column-gap: 5px;
           margin-top: 10px;
              span{
                color: #000;
                font-size: 12px;
                font-weight: 600;
                white-space: nowrap;
                margin-bottom:15px ;
              }
        }
        a{
            color: #000;
            font-size: 12px;
                margin-bottom:20px ;
                font-weight: 600;
        }
     }

      .or-login-with {
        margin-top: 20px;
        text-align: center;
  
        p {
          margin-bottom: 10px;
        }
  
        button {
          margin-right: 10px;
          margin-top: 10px;
          padding: 8px;
          background-color: #4285f4;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        .login-others{
            display: flex;
        }
      }
  
      .logo {
        max-width: 100px;
        margin-bottom: 20px;
      }
  
      label {
        display: block;
        margin-bottom: 8px;
      }
  
      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      .remember-forgot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
      }
  
      button {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  
  
  }
  