.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3a3a3a;
    color: #fff;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    z-index: 9999;
  
    .player-controls {
      button {
        background-color: #2e2e2e;
        color: #fff;
        border: none;
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #3e3e3e;
        }
      }
    }
  
    .song-info {
      text-align: center;
    }
  
    audio {
      width: 60%;
    }
  }
  

  audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

audio::-webkit-media-controls-enclosure {
  background-color: #c6c6ec;
  border-radius:7px 7px 7px 7px ;
}