<div class="audio-player">
    <div class="player-controls">
        <!-- Thêm các nút điều khiển audio (play, pause, next, previous) -->
        <button (click)="playPause()">Play/Pause</button>
        <!-- <button (click)="next()">Next</button>
        <button (click)="previous()">Previous</button> -->
    </div>

    <div class="song-info">
        <h3>{{ currentSong.title }}</h3>
        <p>{{ currentSong.artist }}</p>
    </div>

    <audio controls [src]="currentSong.url"></audio>
</div>
