.songs-page{

    
    display: flex;
    column-gap: 30px;

    

    .feature-artist-list {
      margin-left: 75px;
      margin-top: 10px;
      ul {
        list-style-type: none;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        padding: 0;
        width: 300px;
        position: relative;
     
        li {
          padding: 20px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #EEF1F4;
            border-radius: 5px;
          }
        }
      }
    }

    img{
        height: 200px;
        width: 300px;
        margin-left: 75px;
        margin-top: 50px;
        object-fit: cover;
    }
    .line{
      padding: 9px 0.7px;
      margin-left: 130px;
      position: relative;
      top: 33px;
     background-color: #00000047;
    }
  
    .line-2{
     padding: 9px 0.7px;
     margin-left: 130px;
     position: relative;
     top: 33px;
    background-color: #00000047;
   }
   .area-rank {
     background-color: #D9D9D9;
     height: 40px;
     width: 390px;
     border-radius: 18px;
     align-items: center;
     margin-bottom: 30px;
     justify-content: center;
     display: flex;
     column-gap: 80px;
   
     span {
       display: inline-block; 
       font-weight: 400;
       color: #000;
       cursor: pointer;
     }
   }     
  
   .songs-page-container{
    margin-top: 35px;
    margin-left: 45px;
    ul {
      list-style-type: none;
      border: 1px solid #c5c5c5;
      border-radius: 5px;
      padding: 0;
      width: 1000px;
      position: relative;

      li {
        padding: 30px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #EEF1F4;
          border-radius: 5px;
        }
      }
    }
  }
  
  
      .song-rankings {
  
          width: 20%;
          margin-right: 170px;
          margin-top: 50px;
    
          h3{
            margin-bottom: 20px;
          }
    
           .line{
             padding: 9px 0.7px;
             margin-left: 130px;
             position: relative;
             top: 33px;
            background-color: #00000047;
           }
    
           .line-2{
            padding: 9px 0.7px;
            margin-left: 130px;
            position: relative;
            top: 33px;
           background-color: #00000047;
          }
          .area-rank {
            background-color: #D9D9D9;
            height: 40px;
            width: 390px;
            border-radius: 18px;
            align-items: center;
            margin-bottom: 30px;
            justify-content: center;
            display: flex;
            column-gap: 80px;
          
            span {
              display: inline-block; 
              font-weight: 400;
              color: #000;
              cursor: pointer;
            }
          }                                                                                                                           
          .songs{
            height: 328px;
            width: 390px;
            border-radius: 10px;
            border: 2px solid #9d9c9c;
          }
          .song {
            display: flex;
            align-items: center;
            padding: 15px;
          
            .rank {
              font-size: 1rem;
              margin-right: 1rem;
              color: #555;
            }
          
            .song-info {
              flex-grow: 1;
              padding: 0 1rem;
          
              .song-title {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0.2rem;
                color: #333;
              }
          
              .artist-name {
                font-size: 0.9rem;
                color: #777;
              }
            }
          
            .actions {
              display: flex;
              align-items: center;
          
              button {
                margin-left: 1rem;
                padding: 0.5rem;
                background-color: #3498db;
                color: #fff;
                border: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: 0.8rem;
          
                &:hover {
                  background-color: #2c3e50;
                }
              }
            }
          }
        }
  }

 

  .album{
    .album-title {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      margin-left:160px;
    }
  }

  img{
      height: 200px;
      width: 300px;
      margin-left: 75px;
      margin-top: 50px;
      object-fit: cover;
  }

