<h3>SONGS</h3>
<div class="song-lists-container">

    <div class="song-list">
        <ul>
            <li *ngFor="let song of songs.slice(0, 6)"
                (click)="toggleAudioDropdown(song)">
                {{ song.title }}

                <app-audio-player *ngIf="song.showAudioDropdown"
                    [selectedSong]="song"
                    style="z-index: 9999"></app-audio-player>
            </li>
        </ul>

    </div>

    <div class="song-list">
        <ul>
            <li *ngFor="let song of songs.slice(6, 12)"
                (click)="toggleAudioDropdown(song)">
                {{ song.title }}

                <app-audio-player *ngIf="song.showAudioDropdown"
                    [selectedSong]="song"
                    style="z-index: 9999"></app-audio-player>
            </li>
        </ul>
    </div>

    <div class="song-list">
        <ul>
            <li *ngFor="let song of songs.slice(12,18)"
                (click)="toggleAudioDropdown(song)">
                {{ song.title }}

                <app-audio-player *ngIf="song.showAudioDropdown"
                    [selectedSong]="song"
                    style="z-index: 9999"></app-audio-player>
            </li>
        </ul>
    </div>
</div>
