<h3>SONGS</h3>
<div class="song-lists-container">

    <div class="song-list">
        <ul>
            <li *ngFor="let song of songs.slice(0, 6)">
                {{ song.title }}
                <!-- <audio controls>
                    <source [src]="song.url">
                </audio> -->
            </li>
        </ul>

    </div>

    <div class="song-list">
        <ul>
            <li *ngFor="let song of songs.slice(6, 12)">{{ song.title }}
                <!-- <audio controls>
                    <source [src]="song.url">
                </audio></li> -->

            </ul>
        </div>

        <div class="song-list">
            <ul>
                <li *ngFor="let song of songs.slice(12, 18)">{{ song.title }}
                    <!-- <audio controls>
                    <source [src]="song.url">
                </audio> -->
                </li>
            </ul>
        </div>
    </div>
