<div class="feature-artist">
    <h3>Artist</h3>
    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(0, 5)">
            <a style="text-decoration: none; color:black"
                [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img
                        [src]="artist.photoUrl"
                        alt>
                    <p>{{ artist.name }}</p>
                </div>
            </a>
        </div>

    </div>

    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(5, 10)">
            <a style="text-decoration: none; color:black"
                [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img
                        [src]="artist.photoUrl"
                        alt>
                    <p>{{ artist.name }}</p>
                </div>
            </a>
        </div>

    </div>

    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(10, 15)">
            <a style="text-decoration: none; color:black"
                [routerLink]="['../artist-detail-page', artist.id]">
                <div class="img">
                    <img
                        [src]="artist.photoUrl"
                        alt>
                    <p>{{ artist.name }}</p>
                </div>
            </a>
        </div>

    </div>

</div>