<div class="feature-artist">
    <h3>Artist</h3>
    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(0, 5)">
            <div class="img">
                <img
                    [src]="artist.photoUrl"
                    alt>
                <p>{{ artist.name }}</p>
            </div>
        </div>

    </div>

    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(5, 10)">
            <div class="img">
                <img
                    [src]="artist.photoUrl"
                    alt>
                <p>{{ artist.name }}</p>
            </div>
        </div>

    </div>

    <div class="feature-artist-grid">
        <div class="feature-artist-container"
            *ngFor="let artist of artists?.slice(10, 15)">
            <div class="img">
                <img
                    [src]="artist.photoUrl"
                    alt>
                <p>{{ artist.name }}</p>
            </div>
        </div>

    </div>

</div>